* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

img {
    width: auto;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image_block {
    background-color: antiquewhite;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 3px;
    /* margin: 2px; */
    line-height: 2em;
}

.recipe-grid-container {
    display: flex;
    justify-content: center;
}

.recipe-grid {
    width: 900px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.recipe-grid-item {
    background-color: burlywood;
    width: 100px;
    border: 1px solid black;
    text-align: center;
    height: 30px;
}